body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}
.list{
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 700px;
    width: 1000px;
    border-style: solid;
    padding: 20px;
}
.add{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
#btnAdd{
    padding: 10px;
}